# Python environment
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data (Good practice to keep raw data local if it's too large)
data/*.csv
data/*.json

# IDE specific
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db